$white: #fff;
$black: #222;
$gray: #ccc;
$light-gray: #F1F2F2;
$light-blue: #00AEEF;
$dark-blue: #1C75BC;

.opacity-50 {
  opacity: .5!important;
}

.card1-hot {
  border-color: #ffd54f !important;
  color: #ffffff !important;
  background-color: #ffd54f !important;
}

.card2-hot {
  border-color: #ffca28 !important;
  color: #ffffff !important;
  background-color: #ffca28 !important;
}

.card3-hot {
  border-color: #ffc107 !important;
  color: #ffffff !important;
  background-color: #ffc107 !important;
}

.card4-hot {
  border-color: #ffb300 !important;
  color: #ffffff !important;
  background-color: #ffb300 !important;
}
.card5-hot {
  border-color: #ffa000 !important;
  color: #ffffff !important;
  background-color: #ffa000 !important;
}

.card1-cold {
  border-color: #81d4fa !important;
  color: #ffffff !important;
  background-color: #81d4fa !important;
}

.card2-cold {
  border-color: #4fc3f7 !important;
  color: #ffffff !important;
  background-color: #4fc3f7 !important;
}

.card3-cold {
  border-color: #29b6f6 !important;
  color: #ffffff !important;
  background-color: #29b6f6 !important;
}

.card4-cold {
  border-color: #03a9f4 !important;
  color: #ffffff !important;
  background-color: #03a9f4 !important;
}
.card5-cold {
  border-color: #039be5 !important;
  color: #ffffff !important;
  background-color: #039be5 !important;
}