.main-tile {

  .margin-top-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

}

.widget {

  h2 {
    margin-left: 20pt;
    font-weight: 200;
  }

  #chartdiv {
    margin: 20pt;
  }

}

img.main-icon {
  height: 105pt;

}